<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings> 
        <add name = "TestData"
             connectionString = "Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Projects\DAL\DataAccess\DataAccessTests\App_Data\TestData.mdf;Integrated Security=True "
             providerName = "System.Data.SqlClient " />
  </connectionStrings>
</configuration>